$background: linear-gradient(to right, #00aaff, #00ff6c);
$calculator-background: linear-gradient(
    168.16deg,
    #424242 0%,
    rgba(66, 66, 66, 0.4) 99.69%
);
$button-background: rgba(#4e4e4e, 0.75);
$button-hover-background: rgba(#4e4e4e, 1);
$accent-color: rgba(#56cb95, 0.75);
$accent-color-solid: rgba(#56cb95, 1);
$text: white;
